{% extends 'base.html' %}
{% load static %}
{% block content %}
<h2>Admin Dashboard</h2>

<!-- Show logged-in user details -->
<div class="alert alert-info">
    <strong>Logged in as:</strong>
    {% if user.username %}
    {{ user.username }}
    {% elif user.email %}
    {{ user.email }}
    {% else %}
    {{ user.get_full_name|default:user.id }}
    {% endif %}
    ({{ user.role|title }})
</div>


<div class="row mt-4">
    <div class="col-md-3 mb-3">
        <a href="{% url 'patients:patient_list' %}" class="btn btn-info w-100">Manage Patients</a>
    </div>
    <div class="col-md-3 mb-3">
        <a href="{% url 'doctors:doctor_list' %}" class="btn btn-info w-100">Manage Doctors</a>
    </div>
    <div class="col-md-3 mb-3">
        <a href="{% url 'appointments:appointment_list' %}" class="btn btn-info w-100">Manage Appointments</a>
    </div>
    <div class="col-md-3 mb-3">
        <a href="{% url 'billing:bill_list' %}" class="btn btn-info w-100">Manage Billing</a>
    </div>
</div>

<div class="row mt-3">
    <div class="col-md-3 mb-3">
        <a href="{% url 'receptionists:receptionist_list' %}" class="btn btn-warning w-100">Manage Receptionists</a>
    </div>
    <div class="col-md-3">
        <a href="{% url 'reports:reports_dashboard' %}" class="btn btn-success w-100">View Reports</a>
    </div>
    <div class="col-md-3">
        <a href="{% url 'appointments:manage_requests' %}" class="btn btn-danger w-100">Manage Requests</a>
    </div>
</div>

{% endblock %}
