{% extends 'admin_form_base.html' %}
{% load static %}

{% block title %}Add Receptionist - Hospital Management System{% endblock %}
{% block page_title %}Add Receptionist{% endblock %}
{% block current_page %}Add Receptionist{% endblock %}

{% block back_url %}{% url 'receptionists:receptionist_list' %}{% endblock %}
{% block form_title %}Add New Receptionist{% endblock %}
{% block form_subtitle %}Create a new staff account for reception{% endblock %}
{% block form_icon %}fas fa-user-tie{% endblock %}
{% block submit_text %}Save Receptionist{% endblock %}

{% block form_fields %}
 {{ block.super }}
{% endblock %}
