{% extends 'admin_form_base.html' %}
{% load static %}

{% block title %}Edit Receptionist - Hospital Management System{% endblock %}
{% block page_title %}Edit Receptionist{% endblock %}
{% block current_page %}Edit Receptionist{% endblock %}

{% block back_url %}{% url 'receptionists:receptionist_list' %}{% endblock %}
{% block form_title %}Edit Receptionist{% endblock %}
{% block form_subtitle %}Update receptionist account details{% endblock %}
{% block form_icon %}fas fa-user-tie{% endblock %}
{% block submit_text %}Update Receptionist{% endblock %}

{% block form_fields %}
 {{ block.super }}
{% endblock %}
