{% extends 'admin_form_base.html' %}
{% load static %}

{% block title %}Edit Doctor - Hospital Management System{% endblock %}
{% block page_title %}Edit Doctor{% endblock %}
{% block current_page %}Edit Doctor{% endblock %}

{% block back_url %}{% url 'doctors:doctor_list' %}{% endblock %}
{% block form_title %}Edit Doctor{% endblock %}
{% block form_subtitle %}Update doctor profile details{% endblock %}
{% block form_icon %}fas fa-user-md{% endblock %}
{% block submit_text %}Update Doctor{% endblock %}

{% block form_fields %}
 {{ block.super }}
{% endblock %}
